@font-face {
  font-family: 'DSDigital';
  src: url('./DS-DIGIT.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

